body {
    margin: 0;
    padding: 0;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 70px;
    margin-bottom: 50px;
    font: 300 60px 'Raleway', sans-serif;
    letter-spacing: 3px;
    color: #222;
}

.section-news {
    margin-left: 37.5%;
    font: 300 60px 'Raleway', sans-serif;
    letter-spacing: 3px;
    color: #222;
}

.break-section {
    width: 100%;
    height: 500px;
    -webkit-filter: grayscale(50%);
}

.navbar {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    opacity: .9;
}

.navbar-brand {
    font-weight: bold;
}

.navbar li:hover {
    background-color: #111;
}

.client-break {
    height: 100%;
    background: linear-gradient(#222, transparent 30%), linear-gradient(0deg, #222, transparent 30%), url('https://upload.wikimedia.org/wikipedia/en/6/69/Speeding_J_train_on_the_Williamsburg_Bridge.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


/********************
  
  NEWS SECTION
  
  ********************/

#custom_carousel .item {
    padding-top: 150px;
    height: 400px;
    color: #000;
    background-color: #eee;
    padding: 2px 0;
}

#custom_carousel .controls {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background: #ddd
}

#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width: 90px
}

#custom_carousel .controls li.active {
    background-color: #eee;
    border-top: 3px solid orange;
}

#custom_carousel .controls a small {
    overflow: hidden;
    display: block;
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold
}


/**************************** 
  FOOTER
  ****************************/

footer.footer {
    text-align: center;
    color: #9da1a6;
    position: relative;
    background-color: #141414;
    width: 100%;
    bottom: 1;
    left: 0;
}

footer.footer .row {
    padding-top: 17px;
    margin-right: -15px;
    margin-left: -15px;
}

ul.social {
    margin: 0;
    padding: 0;
}

footer.footer ul.social li {
    display: inline-block;
    margin: 0px 10px;
}

footer.footer ul.social li a {
    color: #393939;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border-color: #393939;
    position: relative;
    border: 2px solid #393939;
    display: inline-block;
    line-height: 40px;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

footer.footer ul.social li a:hover {
    color: #f74949;
    border-color: #f74949;
}

footer.footer .copyright {
    color: #FFFFFF;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

* {
    transition: all 0.3s;
}

.rainbow_comment {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rainbow_comment ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.rainbow_comment ul>li {
    padding-top: 13px;
    padding-bottom: 15px;
    border-top: 3px solid rgba(41, 45, 88, 0.8);
}

.rainbow_comment ul>li:nth-child(even) {
    background-color: rgba(41, 45, 88, 0.03);
}

.rainbow_comment ul>li:hover {
    background-color: rgba(41, 45, 88, 0.1);
}

.rainbow_comment ul>li:nth-child(even) .comment_picture {
    background-color: rgba(41, 45, 88, 0.1);
}

.rainbow_comment ul>li div {
    position: relative;
    float: left;
}

.rainbow_comment ul>li div.comment_meta {
    position: relative;
    top: 5px;
}

.rainbow_comment .comment_picture {
    padding-top: 17px;
    width: 95px;
    height: 95px;
    background-color: #EEE;
    box-shadow: 0 0 10px #999 inset;
    text-shadow: 0 0 5px #777;
    color: #FFF;
    text-align: center;
}

.rainbow_comment .comment_picture:hover {
    padding-top: 22px;
    cursor: pointer;
    width: 105px;
    height: 105px;
}

.rainbow_comment .comment_text {
    margin-top: 5px;
}

.rainbow_comment a {
    font-weight: bold;
    color: rgba(41, 45, 88, 1);
}

.rainbow_comment a:hover {
    text-decoration: none;
    color: rgba(41, 45, 88, 0.6);
}

.rainbow_comment .space {
    margin-left: 4px;
    margin-right: 4px;
}

.rainbow_comment input[type=submit] {
    position: absolute;
    border: none;
    background-color: #292D58;
    color: #FFF;
    border-radius: 0 0.25em 0.25em 0.25em;
    padding: 10px 15px;
    bottom: 0px;
    right: 15px;
}

.rainbow_comment input[type=submit]:hover {
    background-color: rgba(41, 45, 88, 0.9);
}

.rainbow_comment label {
    cursor: text;
    font-weight: normal;
}

.rainbow_comment .comment_form_area {
    border-top: 3px solid rgba(41, 45, 88, 0.6);
}

.rainbow_comment .comment_form_area .row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.rainbow_comment .comment_input {
    padding: 5px 10px;
    border: 1px solid #DADADA;
    height: 30px;
    width: 200px;
}

.rainbow_comment .comment_input:focus {
    height: 38px;
}

.rainbow_comment #comment {
    width: 100%;
    min-height: 75px;
    max-height: 75px;
    max-width: 100%;
}

.rainbow_comment #comment:focus {
    min-height: 150px;
    max-height: 150px;
}

@media (max-width: 767px) {
    .rainbow_comment ul>li div.comment_picture {
        margin-top: 6px;
    }
    .rainbow_comment ul>li div.comment_text {
        margin-top: 17px;
    }
    .rainbow_comment .comment_input {
        width: 100%;
    }
}