body {
    margin: 0;
    padding: 0;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 70px;
    margin-bottom: 50px;
    font: 300 60px 'Raleway', sans-serif;
    letter-spacing: 3px;
    color: #222;
}

.section-news {
    margin-left: 37.5%;
    font: 300 60px 'Raleway', sans-serif;
    letter-spacing: 3px;
    color: #222;
}

.break-section {
    width: 100%;
    height: 500px;
    -webkit-filter: grayscale(50%);
}

.navbar {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    opacity: .9;
}

.navbar-brand {
    font-weight: bold;
}

.navbar li:hover {
    background-color: #111;
}

.client-break {
    height: 100%;
    background: linear-gradient(#222, transparent 30%), linear-gradient(0deg, #222, transparent 30%), url('https://upload.wikimedia.org/wikipedia/en/6/69/Speeding_J_train_on_the_Williamsburg_Bridge.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


/********************
  
  NEWS SECTION
  
  ********************/

#custom_carousel .item {
    padding-top: 150px;
    height: 400px;
    color: #000;
    background-color: #eee;
    padding: 2px 0;
}

#custom_carousel .controls {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background: #ddd
}

#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width: 90px
}

#custom_carousel .controls li.active {
    background-color: #eee;
    border-top: 3px solid orange;
}

#custom_carousel .controls a small {
    overflow: hidden;
    display: block;
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold
}


/**************************** 
  FOOTER
  ****************************/

footer.footer {
    text-align: center;
    color: #9da1a6;
    position: relative;
    background-color: #141414;
    width: 100%;
    bottom: 1;
    left: 0;
}

footer.footer .row {
    padding-top: 17px;
    margin-right: -15px;
    margin-left: -15px;
}

ul.social {
    margin: 0;
    padding: 0;
}

footer.footer ul.social li {
    display: inline-block;
    margin: 0px 10px;
}

footer.footer ul.social li a {
    color: #393939;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border-color: #393939;
    position: relative;
    border: 2px solid #393939;
    display: inline-block;
    line-height: 40px;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

footer.footer ul.social li a:hover {
    color: #f74949;
    border-color: #f74949;
}

footer.footer .copyright {
    color: #FFFFFF;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}