body {
    margin: 0;
    padding: 0;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 70px;
    margin-bottom: 50px;
    font: 300 60px 'Raleway', sans-serif;
    letter-spacing: 3px;
    color: #222;
}

.section-news {
    margin-left: 37.5%;
    font: 300 60px 'Raleway', sans-serif;
    letter-spacing: 3px;
    color: #222;
}

.break-section {
    width: 100%;
    height: 500px;
    -webkit-filter: grayscale(50%);
}

.navbar {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    opacity: .9;
}

.navbar-brand {
    font-weight: bold;
}

.navbar li:hover {
    background-color: #111;
}

.client-break {
    height: 100%;
    background: linear-gradient(#222, transparent 30%), linear-gradient(0deg, #222, transparent 30%), url('https://upload.wikimedia.org/wikipedia/en/6/69/Speeding_J_train_on_the_Williamsburg_Bridge.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


/********************
  
  NEWS SECTION
  
  ********************/

#custom_carousel .item {
    padding-top: 150px;
    height: 400px;
    color: #000;
    background-color: #eee;
    padding: 2px 0;
}

#custom_carousel .controls {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background: #ddd
}

#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width: 90px
}

#custom_carousel .controls li.active {
    background-color: #eee;
    border-top: 3px solid orange;
}

#custom_carousel .controls a small {
    overflow: hidden;
    display: block;
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold
}


/**************************** 
  FOOTER
  ****************************/

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

body {
    margin-top: 20px;
}


/* Latest News */

.news {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.news article {
    float: left;
    display: block;
    margin-right: 3.63636%;
    width: 30.90909%;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
}

.news article:last-child {
    margin-right: 0;
}

.news article:nth-child(3n) {
    margin-right: 0;
}

.news article:nth-child(3n+1) {
    clear: left;
}

.news .img {
    height: 150px;
    background-color: #cccccc;
    margin-bottom: 10px;
}

.news h4 {
    font-size: 24px;
    padding-bottom: 5px;
    font-weight: normal;
}

.news .read-more {
    margin-top: auto;
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    align-self: flex-start;
    -ms-flex-item-align: start;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #666666;
    background-color: #cccccc;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.container1 {
    padding-top: 50px;
}

.col-lg-6 {
    border-color: black;
    border-width: 10px;
    height: 100%;
    padding-right: 100px;
}